* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    letter-spacing: 1rem;
    font-size: 150%;
}
