* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul li:nth-child(even){
    background-color: #b4c6ee;
}

ul li {
    cursor: pointer;
}


#options {
    display: flex;
    justify-content: center;
}
#option1 {
    display: none;
}
#option2 {
    display: none;
}
#option3 {
    display: none;
}
#option4 {
    display: none;
}